* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.all {
  z-index: -100; }

.navigation {
  width: 95vw;
  display: flex;
  padding: 1rem 1rem;
  background-color: white;
  justify-content: space-between;
  align-items: center; }
  .navigation__logo {
    margin-left: -3rem;
    display: flex;
    align-items: center;
    cursor: pointer; }
  .navigation__logo-img {
    scale: .7;
    margin-top: -10px;
    cursor: pointer; }
  .navigation__brand {
    font-family: "Mochiy Pop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7a4a4a;
    text-transform: uppercase;
    font-size: 2rem;
    margin-right: 2rem;
    margin-left: -2.3rem; }
  .navigation__link {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center; }
    .navigation__link-btn {
      margin-left: 2rem;
      padding: .5rem 1rem;
      height: 100%; }
      .navigation__link-btn.sign-up {
        display: flex;
        justify-content: center;
        align-items: center; }
      .navigation__link-btn-a:link, .navigation__link-btn-a:visited {
        text-decoration: none;
        color: #7a4a4a;
        font-family: "Mogra", system-ui;
        font-weight: 400;
        font-style: normal;
        transition: all .2s; }
      .navigation__link-btn-a.sign-up {
        color: white;
        background-color: #7a4a4a;
        border-radius: 100px;
        display: flex;
        width: 100%;
        height: 100%;
        padding: .5rem 1rem;
        border: solid 1px transparent; }
      .navigation__link-btn-a:hover, .navigation__link-btn-a:active {
        border-bottom: solid 1px #7a4a4a; }
      .navigation__link-btn-a.sign-up:hover, .navigation__link-btn-a.sign-up.active {
        color: #7a4a4a;
        background-color: white;
        border: solid 1px #7a4a4a; }
  .navigation__search-box {
    border: solid 1.5px #7a4a4a;
    padding: .5rem 1rem;
    border-radius: 10rem;
    display: flex;
    height: 2.4rem;
    width: 30%; }
    .navigation__search-box-bar, .navigation__search-box-bar:focus {
      caret-color: #7a4a4a;
      border: none;
      outline-width: 0;
      font-size: 1rem;
      color: #7a4a4a;
      font-family: "Mogra", system-ui;
      font-weight: 400;
      font-style: normal;
      height: 100%;
      width: 90%; }
    .navigation__search-box-bar::-webkit-input-placeholder {
      color: #e3c5c5; }
    .navigation__search-box-icon {
      scale: 1.2;
      fill: #7a4a4a;
      margin-right: .5rem;
      width: 10%; }

.section {
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 0 1rem;
  z-index: 10; }

.photo-container {
  width: 100%;
  position: relative; }

.header {
  grid-column: 1/2;
  margin-top: 6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start; }
  .header__primary {
    font-family: "Mochiy Pop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7a4a4a;
    font-size: 3rem; }
  .header__secondary {
    margin-top: 2rem;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    color: #7a4a4a;
    font-size: 1.5rem; }
  .header__img {
    height: 6rem;
    width: 6rem;
    opacity: .5;
    transform: translateX(-1rem);
    position: absolute;
    z-index: 10;
    top: 120%; }

.button {
  text-decoration: none;
  padding: 1rem 5rem;
  font-family: "Mogra", system-ui;
  font-weight: 400;
  font-style: normal;
  border-radius: 50rem;
  display: inline-block;
  margin-top: 2rem;
  margin-left: 26%;
  text-align: center;
  border: solid 1px #7a4a4a;
  z-index: 10; }
  .button--brown {
    color: white;
    background-color: #7a4a4a; }
  .button--brown:hover, .button--brown:active {
    background-color: white;
    color: #7a4a4a;
    transition: .2s; }

html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
  /* Prevent scrollbar */ }

.img-1 {
  position: absolute;
  scale: .8;
  rotate: -15deg;
  z-index: 10;
  width: 100%;
  top: -5%;
  left: 20%; }

.img-2 {
  position: absolute;
  width: 100%;
  top: -5vw;
  left: -5%;
  scale: .7;
  rotate: -30deg; }

@media only screen and (min-width: 1400px) {
  .header {
    margin-top: 8rem; }
  .section-2 {
    margin-top: 5rem; } }

@media only screen and (min-width: 1521px) {
  .img-2 {
    transform: scale(0.9); }
  .img-1 {
    transform: scale(0.9); }
  .section-2 {
    margin-top: 10rem !important; } }

@media only screen and (min-width: 1700px) {
  .section-2 {
    margin-top: 15rem !important; } }

.section-2 {
  height: 1900px;
  background: linear-gradient(170deg, #EFE8D8 50%, #7a4a4a 50%);
  width: 100%;
  clip-path: polygon(0% 0%, 100% 15%, 100% 75%, 0% 75%);
  position: relative;
  z-index: -100;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 18rem 1rem; }
  .section-2__heading {
    background-color: #7a4a4a;
    color: white;
    padding: 2rem 5rem;
    font-family: "Mochiy Pop One", sans-serif;
    border-radius: 30px;
    margin-bottom: 5rem; }
  .section-2__main {
    display: grid;
    grid-template-rows: repeat(2, minmax(min-content, 20rem)); }

.quick {
  grid-row: 1/ 2;
  display: grid;
  grid-template-columns: repeat(8, minmax(5rem, 1fr));
  grid-template-rows: repeat(2, min-content); }
  .quick__heading {
    grid-column: 1/3;
    grid-row: 1/2;
    font-family: "Nerko One", cursive;
    color: #7a4a4a;
    font-size: 3rem;
    z-index: 1000;
    justify-self: center;
    align-self: end;
    font-weight: 100; }
  .quick__img {
    width: 100%;
    grid-column: 1/3;
    grid-row: 2/3;
    align-content: start;
    justify-self: end; }
  .quick__icon {
    width: 8rem;
    height: 8rem;
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: start;
    transform: scale(1.5) translateY(1.3rem); }
  .quick__text {
    grid-column: 3/-1;
    font-family: "Nerko One", cursive;
    color: #7a4a4a;
    font-size: 2rem;
    align-self: center; }

.flash {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(8, minmax(5rem, 1fr));
  grid-template-rows: repeat(2, min-content); }
  .flash__heading {
    grid-column: 1/3;
    grid-row: 2/3;
    font-family: "Nerko One", cursive;
    color: #FAEAD6;
    font-size: 3rem;
    z-index: 1000;
    justify-self: center;
    align-self: end;
    font-weight: 100;
    grid-column: -3/-1; }
  .flash__img {
    width: 100%;
    object-fit: cover;
    grid-column: -3/-1;
    grid-row: 1/2;
    align-content: start;
    justify-self: end; }
  .flash__icon {
    width: 8rem;
    height: 8rem;
    grid-column: -4/-3;
    grid-row: 2/3;
    justify-self: start;
    transform: scale(1.5) translateY(1.3rem); }
  .flash__text {
    grid-column: 1/6;
    font-family: "Nerko One", cursive;
    color: #FAEAD6;
    font-size: 2rem;
    align-self: center;
    -webkit-text-stroke: 1px black; }

.button-cream-container {
  background-color: #7a4a4a;
  margin-top: -30rem;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 50px; }

.button--cream {
  font-family: "Mogra", system-ui;
  color: #7a4a4a;
  background-color: #FAEAD6;
  padding: 1.5rem 6rem;
  border-radius: 100px;
  text-decoration: none;
  border: 1px solid #FAEAD6;
  transition: all .2s; }
  .button--cream:hover, .button--cream:active {
    background-color: #7a4a4a;
    color: #FAEAD6; }

.footer {
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: 20rem 1fr;
  color: #7a4a4a;
  font-family: "Mogra", system-ui;
  justify-content: space-between;
  column-gap: 3rem; }
  .footer__img-container {
    display: grid;
    grid-template-rows: repeat(2, minmax(min-content, 15rem)); }
  .footer__brand {
    font-family: "Mochiy Pop One", sans-serif;
    justify-self: center;
    font-size: 3rem;
    text-align: center;
    grid-row: 2/3; }
  .footer__logo {
    height: 20rem;
    width: 20rem;
    margin-bottom: -5rem;
    grid-row: 1/2; }
  .footer__text-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(10rem, 1fr));
    grid-template-rows: repeat(7, min-content);
    height: 5rem;
    align-self: start;
    row-gap: 1rem;
    margin-top: 4rem; }
  .footer__h3-author {
    grid-column: 1/2;
    grid-row: 1/2; }
  .footer__h4-author-1 {
    grid-column: 1/2;
    grid-row: 2/3; }
  .footer__h4-author-2 {
    grid-column: 1/2;
    grid-row: 3/4; }
  .footer__h4-author-3 {
    grid-column: 1/2;
    grid-row: 4/5; }
  .footer__h4-author-4 {
    grid-column: 1/2;
    grid-row: 5/6; }
  .footer__h3-about {
    grid-column: 2/3;
    grid-row: 1/2; }
  .footer__h4-about-1 {
    grid-column: 2/3;
    grid-row: 2/3; }
  .footer__h4-about-2 {
    grid-column: 2/3;
    grid-row: 3/4; }
  .footer__h3-term-of-use {
    grid-column: 3/4;
    grid-row: 1/2; }
  .footer__h4-term-of-use {
    grid-column: 3/4;
    grid-row: 2/3; }
  .footer__h3-ackowledge {
    grid-column: 1/2;
    grid-row: 6/7; }
  .footer__4-acknowledge {
    grid-column: 1/2;
    grid-row: 5/6; }
  .footer__text-container-1 {
    display: grid;
    grid-column: 2/3;
    row-gap: 1rem;
    transform: translateY(-4.7rem); }
