@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

.cnavigation {
    width: 98vw;
    display: flex;
    padding: 1rem 1rem;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

.cnavigation__logo {
    margin-left: -3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cnavigation__logo-img {
    scale: .7;
    margin-top: -10px;
    cursor: pointer;
}

.first__pencil {
    background-color: #7a4a4a;
    cursor: pointer;
    transition: all .1s ease-in-out;
    border-radius: 50%;
    padding: .2rem;
    border: 4px solid #7a4a4a;
    width: 3.3rem;
    height: 3.3rem;
}

.first__pencil:hover {

    background-color: transparent;
}

.first__pencil:hover path {
    stroke: #7a4a4a;
}

.first__pencil path {
    stroke: white;
    transition: all .1s ease-in-out;
}

.course-selection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
}

.course-selection::-webkit-scrollbar {
    width: 4px;
}

.course-selection::-webkit-scrollbar-thumb {
    background: #888;
}

.course-selection::-webkit-scrollbar-track {
    background-color: #7a4a4a;
    border-radius: 10px;
}

.course-selection div {
    display: flex;
    align-items: center;
    gap: 1rem
}

.course-selection input {
    box-shadow: 0 .2rem .2rem rgba(0, 0, 0, .2);
    border: none;
    border-bottom: none;

}

.course-selection input[type="radio"]:focus {
    outline: none;
}

.cfirst__add-course-button {
    cursor: pointer;

    background-color: #7a4a4a;
    width: 3.3rem;
    height: 3.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #7a4a4a;
    border-radius: 50%;
    transition: all .1s ease-in-out;
}

.cfirst__add-course-button:hover {
    background-color: transparent;
}

.cfirst__add-course-button:hover path {
    stroke: #7a4a4a;
}

.cfirst__add-course-button path {
    transition: all .1s ease-in-out;
    stroke: white
}



.cfirst__add-course-button svg {
    object-fit: cover;
    width: 100%;
}

.cnavigation__brand {
    font-family: "Mochiy Pop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7a4a4a;
    text-transform: uppercase;
    font-size: 2rem;
    margin-right: 2rem;
    margin-left: -2.3rem;
}

.cnavigation__dropdown {
    position: relative;
}

.cnavigation__dropdown button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.cnavigation__dropdown button span {
    font-family: "Mogra", system-ui;
    color: #7a4a4a;
    font-size: 1rem;
}

.cnavigation__dropdown-list {
    font-family: "Mogra", system-ui;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
    position: absolute;
    height: 20rem;
    background-color: white;
    border-radius: 20px;
    width: 20rem;
    z-index: 100000;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transform-origin: top;
    display: flex;
    flex-direction: column;
    top: 3rem;
}

.cnavigation__dropdown-button-container {
    margin-bottom: auto;
    padding: 0 1rem;
    display: flex;
    font-family: "Mogra", system-ui;
    gap: 1.5rem;
}

.cnavigation__dropdown-button {
    font-family: "Mogra", system-ui;
    font-size: 1rem;
}

.cnavigation__dropdown-button-1 {
    color: white;
    background-color: #7a4a4a !important;
    padding: .5rem .5rem;
    border-radius: 50px;
}

.cnavigation__dropdown-button-2 {
    color: #7a4a4a;
}

.cnavigation__dropdown-item-container {
    background-color: white;
    height: 15rem;
    overflow-y: scroll;
}

.cnavigation__dropdown-item-container::-webkit-scrollbar-thumb {
    background-color: #7a4a4a;
    border-radius: 100vh;
}

.cnavigation__dropdown-item-container::-webkit-scrollbar {
    width: .7vw;
    border-radius: 100vh;
}

.cnavigation__dropdown-item-container::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 100vh;
}

.cnavigation__dropdown-item {
    text-decoration: none;
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    gap: 1rem;
    transition: all .2s ease-in-out;
}

.cnavigation__dropdown-item h6 {
    font-size: 1rem;
    color: #7a4a4a;
}

.cnavigation__dropdown-item img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    justify-self: start;
}

.cnavigation__dropdown-item:hover {
    background-color: #d6d6d6;
}

.cnavigation__dropdown-all {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-self: end;
    align-self: flex-start;
    background-color: #7a4a4a;
    width: 100%;
    height: 3rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    text-decoration: none;
}

.cnavigation__link {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.cnavigation__link-btn {
    margin-left: 2rem;
    padding: .5rem 1rem;
    height: 100%;
}

.cnavigation__link-btn.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cnavigation__link-btn-a:link,
.cnavigation__link-btn-a:visited {
    text-decoration: none;
    color: #7a4a4a;
    font-family: "Mogra", system-ui;
    font-weight: 400;
    font-style: normal;
    transition: all .2s;
}

.cnavigation__link-btn-a.sign-up {
    color: white;
    background-color: #7a4a4a;
    border-radius: 100px;
    display: flex;
    width: 100%;
    height: 100%;
    padding: .5rem 1rem;
    border: solid 1px transparent;
}

.cnavigation__link-btn-a:hover,
.cnavigation__link-btn-a:active {
    border-bottom: solid 1px #7a4a4a;
}

.cnavigation__link-btn-a.sign-up:hover,
.cnavigation__link-btn-a.sign-up.active {
    color: #7a4a4a;
    background-color: white;
    border: solid 1px #7a4a4a;
}

.cnavigation__search-box {
    border: solid 1.5px #7a4a4a;
    padding: .5rem 1rem;
    border-radius: 10rem;
    display: flex;
    height: 2.4rem;
    width: 30%;
}

.cnavigation__search-box-bar,
.cnavigation__search-box-bar:focus {
    caret-color: #7a4a4a;
    border: none;
    outline-width: 0;
    font-size: 1rem;
    color: #7a4a4a;
    font-family: "Mogra", system-ui;
    font-weight: 400;
    font-style: normal;
    height: 100%;
    width: 90%;
}

.cnavigation__search-box-bar::-webkit-input-placeholder {
    color: #e3c5c5;
}

.cnavigation__search-box-icon {
    scale: 1.2;
    fill: #7a4a4a;
    margin-right: .5rem;
    width: 1.2rem;
    height: 1.2rem;
}

.cnavigation__avatar {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
}

.cfooter {
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-template-rows: 20rem 1fr;
    color: #7a4a4a;
    font-family: "Mogra", system-ui;
    justify-content: space-between;
    column-gap: 3rem;
}

.cfooter__img-container {
    display: grid;
    grid-template-rows: repeat(2, minmax(min-content, 15rem));
}

.cfooter__brand {
    font-family: "Mochiy Pop One", sans-serif;
    justify-self: center;
    font-size: 3rem;
    text-align: center;
    grid-row: 2/3;
}

.cfooter__logo {
    height: 20rem;
    width: 20rem;
    margin-bottom: -5rem;
    grid-row: 1/2;
}

.cfooter__text-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(10rem, 1fr));
    grid-template-rows: repeat(7, min-content);
    height: 5rem;
    align-self: start;
    row-gap: 1rem;
    margin-top: 4rem;
}

.cfooter__h3-author {
    grid-column: 1/2;
    grid-row: 1/2;
}

.cfooter__h4-author-1 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.cfooter__h4-author-2 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.cfooter__h4-author-3 {
    grid-column: 1/2;
    grid-row: 4/5;
}

.cfooter__h4-author-4 {
    grid-column: 1/2;
    grid-row: 5/6;
}

.cfooter__h3-about {
    grid-column: 2/3;
    grid-row: 1/2;
}

.cfooter__h4-about-1 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.cfooter__h4-about-2 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.cfooter__h3-term-of-use {
    grid-column: 3/4;
    grid-row: 1/2;
}

.cfooter__h4-term-of-use {
    grid-column: 3/4;
    grid-row: 2/3;
}

.cfooter__h3-ackowledge {
    grid-column: 1/2;
    grid-row: 6/7;
}

.cfooter__4-acknowledge {
    grid-column: 1/2;
    grid-row: 5/6;
}

.cfooter__text-container-1 {
    display: grid;
    grid-column: 2/3;
    row-gap: 1rem;
    transform: translateY(-4.7rem);
}

.cfirst {
    padding: 1rem 2rem;
    background-color: white;
}

.cfirst__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    position: relative;
}

.cfirst__title h1 {
    font-family: 'Nerko One';
    font-size: 5rem;
    color: #7a4a4a;

}

.cfirst__title {
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: start;
    gap: 1rem
}

.cfirst__paw {
    width: 5rem;
    height: 5rem;
    opacity: .2;


}

.cfirst__back {
    width: 4rem;
    height: 4rem;
    fill: #7a4a4a;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.cfirst__back:hover {
    transform: translateY(-50%) translateX(-1rem)
}

.cform__month,
.cform__month-brown {


    width: 10rem;
    font-size: 1.15rem;
    font-family: "Mogra", system-ui;
    justify-content: center;
    background-color: white;
    border-radius: 0.25rem;
}

.cform__month--button,
.cform__month--button-brown {
    color: #7a4a4a;
    width: 100%;
    font-size: 1.15rem;
    background-color: transparent;
    padding: 0.675em 1em;
    border: 1px solid #7a4a4a;
    box-shadow: 0 0.05rem 0.2rem rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cform__month--selected-value,
.cform__month--selected-value-brown {
    color: #7a4a4a;
    display: flex;
    justify-self: center;
    text-align: center;
    font-family: "Mogra", system-ui;
}

.cform__month--arrow,
.cform__month--arrow-brown {
    scale: .5;
    transition: transform ease-in-out 0.3s;
}

.cform__month--dropdown,
.cform__month--dropdown-brown {
    color: #7a4a4a;
    list-style: none;
    position: absolute;
    list-style: none;
    width: 160px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border: 1px solid #7a4a4a;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
    transition: 0.5s ease;
    z-index: 1000;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    visibility: hidden;
}

.cform__month--dropdown li,
.cform__month--dropdown-brown li {
    position: relative;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.cform__month--dropdown li span,
.cform__month--dropdown-brown li span {
    width: 100%;
    padding: 8px 10px;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.cform__month--dropdown::-webkit-scrollbar,
.cform__month--dropdown-brown::-webkit-scrollbar {
    width: 7px;
}

.cform__month--dropdown::-webkit-scrollbar-track,
.cform__month--dropdown-brown::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.cform__month--dropdown::-webkit-scrollbar-thumb,
.cform__month--dropdown-brown::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.cform__month--dropdown li:hover,
.cform__month--dropdown input:checked~label,
.cform__month--dropdown-brown li:hover,
.cform__month--dropdown-brown input:checked~label {
    background-color: #f2f2f2;
}

.cform__month--dropdown input:focus~label,
.cform__month--dropdown-brown input:focus~label {
    background-color: #dfdfdf;
}

.cform__month--dropdown input[type="radio"],
.cform__month--dropdown-brown input[type="radio"] {
    position: absolute;
    left: 0;
    opacity: 0;
}

/* interactivity */
.cform__month.active .cform__month--arrow,
.cform__month-brown.active .cform__month--arrow-brown {
    transform: rotate(180deg);
}

.cform__month.active .cform__month--dropdown,
.cform__month-brown.active .cform__month--dropdown-brown {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
    transform-origin: top;
}


.cfirst__plus {
    height: 3em;
    width: 3rem;
    cursor: pointer;
    fill: white;
    margin-right: auto;
}

.cfirst__filter {
    display: flex;
    gap: 1rem;

}

.cfirst__filter h2 {
    font-family: 'Dosis' !important;
}

.cfirst__filter h2 {
    font-family: 'Mogra';
}

.cmain {
    width: 100%;
    height: 100vh;
    padding: 1rem 2rem;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: start;
}

.cmain__card-inner-avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.cmain__card {
    font-family: 'Mogra';
    gap: .5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.cmain__card-inner {
    color: #7a4a4a;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    padding: 2rem 2rem;
}

.cmain__card-inner-title {
    font-size: 1.5rem;
}

.cmain__time {
    color: rgb(170, 170, 170);

}

.cmain__card-inner-author {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-left: auto;
}

.cmain__card-inner-number {
    color: white;
    border-radius: 20px;
    background-color: #7a4a4a;
    padding: 0 .5rem;
}

.cmain__folder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
    gap: 1rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
    width: 17%
}

.cmain__folder:hover .cmain__folder-delete {
    display: flex;
}

.cmain__folder-delete {
    width: 3rem;
    height: 3rem;
    background-color: white;
    padding: .5rem;
    box-shadow: 0 .2rem .2rem rgba(0, 0, 0, .2);
    border-radius: 50%;
    display: none;
    transition: all .1s ease-in-out;
}

.cmain__folder-delete:hover path {
    stroke: white;

}

.cmain__folder-delete:hover {
    background-color: #7a4a4a;

}

.cmain__folder-delete path {
    transition: all .1s ease-in-out;

}

.cmain__folder a {
    width: min-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.cmain__folder:hover {
    transform: translateY(-5px);
}

.cmain__folder-svg {
    height: 10rem;
    width: 10rem;
    transform: scale(.9);
}

.cmain__folder-title {
    font-family: 'Mogra';
    color: #7a4a4a;
    font-size: 1.2rem;
}

.cmain__popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100000000000;
    display: none;

    align-items: center;
    justify-content: center;
}

.cmain__popup-inner {
    background-color: white;
    border-radius: 20px;

    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.cmain__popup-inner h1 {
    font-family: 'Mogra';

}

.cmain__popup-inner input {
    border: none;
    padding: 1rem 0;
    border-bottom: 2px solid rgb(215, 215, 215);
    font-family: 'Mogra';
    font-size: 1.4rem;
}


.cmain__popup-inner input:focus {
    outline: none;
    border-bottom: 2px solid black;
}

.cmain__popup-inner input::placeholder {
    color: #ccc
}

.cmain__cross {
    height: 3rem;
    width: 3rem;
    fill: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .2s ease-in-out;
}

.cmain__cross:hover {
    fill: black;
}

.cmain__popup-submit-container {
    display: flex;
    justify-content: center;
}

.cmain__popup-submit {
    font-family: 'Mogra';
    color: white;
    background-color: black;
    padding: 1rem 3rem;
    font-size: 1.3rem;
    border-radius: 20px;
    border: 1px solid black;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.cmain__popup-submit:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}