@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mnavigation {
  width: 98vw;
  display: flex;
  padding: 1rem 1rem;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}

.mnavigation__logo {
  margin-left: -3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.mnavigation__logo-img {
  scale: .7;
  margin-top: -10px;
  cursor: pointer;
}

.mnavigation__brand {
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #7a4a4a;
  text-transform: uppercase;
  font-size: 2rem;
  margin-right: 2rem;
  margin-left: -2.3rem;
}

.mnavigation__dropdown {
  position: relative;
}

.mnavigation__dropdown button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.mnavigation__dropdown button span {
  font-family: "Mogra", system-ui;
  color: #7a4a4a;
  font-size: 1rem;
}

.mnavigation__dropdown-list {
  font-family: "Mogra", system-ui;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  position: absolute;
  height: 20rem;
  background-color: white;
  border-radius: 20px;
  width: 20rem;
  z-index: 100000;
  transform: scaleY(0);
  transform-origin: top;
  display: flex;
  flex-direction: column;
  top: 3rem;
}

.mnavigation__dropdown-button-container {
  margin-bottom: auto;
  padding: 0 1rem;
  display: flex;
  font-family: "Mogra", system-ui;
  gap: 1.5rem;
}

.mnavigation__dropdown-button {
  font-family: "Mogra", system-ui;
  font-size: 1rem;
}

.mnavigation__dropdown-button-1 {
  color: white;
  background-color: #7a4a4a !important;
  padding: .5rem .5rem;
  border-radius: 50px;
}

.mnavigation__dropdown-button-2 {
  color: #7a4a4a;
}

.mnavigation__dropdown-item-container {
  background-color: white;
  height: 15rem;
  overflow-y: scroll;
}

.mnavigation__dropdown-item-container::-webkit-scrollbar-thumb {
  background-color: #7a4a4a;
  border-radius: 100vh;
}

.mnavigation__dropdown-item-container::-webkit-scrollbar {
  width: .7vw;
  border-radius: 100vh;
}

.mnavigation__dropdown-item-container::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 100vh;
}

.mnavigation__dropdown-item {
  text-decoration: none;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  gap: 1rem;
  transition: all .2s ease-in-out;
}

.mnavigation__dropdown-item h6 {
  font-size: 1rem;
  color: #7a4a4a;
}

.mnavigation__dropdown-item img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  justify-self: start;
}

.mnavigation__dropdown-item:hover {
  background-color: #d6d6d6;
}

.mnavigation__dropdown-all {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-self: end;
  align-self: flex-start;
  background-color: #7a4a4a;
  width: 100%;
  height: 3rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  text-decoration: none;
}

.mnavigation__link {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.mnavigation__link-btn {
  margin-left: 2rem;
  padding: .5rem 1rem;
  height: 100%;
}

.mnavigation__link-btn.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mnavigation__link-btn-a:link,
.mnavigation__link-btn-a:visited {
  text-decoration: none;
  color: #7a4a4a;
  font-family: "Mogra", system-ui;
  font-weight: 400;
  font-style: normal;
  transition: all .2s;
}

.mnavigation__link-btn-a.sign-up {
  color: white;
  background-color: #7a4a4a;
  border-radius: 100px;
  display: flex;
  width: 100%;
  height: 100%;
  padding: .5rem 1rem;
  border: solid 1px transparent;
}

.mnavigation__link-btn-a:hover,
.mnavigation__link-btn-a:active {
  border-bottom: solid 1px #7a4a4a;
}

.mnavigation__link-btn-a.sign-up:hover,
.mnavigation__link-btn-a.sign-up.active {
  color: #7a4a4a;
  background-color: white;
  border: solid 1px #7a4a4a;
}

.mnavigation__search-box {
  border: solid 1.5px #7a4a4a;
  padding: .5rem 1rem;
  border-radius: 10rem;
  display: flex;
  height: 2.4rem;
  width: 30%;
}

.mnavigation__search-box-bar,
.mnavigation__search-box-bar:focus {
  caret-color: #7a4a4a;
  border: none;
  outline-width: 0;
  font-size: 1rem;
  color: #7a4a4a;
  font-family: "Mogra", system-ui;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  width: 90%;
}

.mnavigation__search-box-bar::-webkit-input-placeholder {
  color: #e3c5c5;
}

.mnavigation__search-box-icon {
  scale: 1.2;
  fill: #7a4a4a;
  margin-right: .5rem;
  width: 10%;
}

.mnavigation__avatar {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.mmainn {
  width: 100%;
  margin-top: 3rem;
  background-color: white !important;
  padding: 0 0 !important;
  /* height: 350vh; */
}

.myellow {
  margin-bottom: -10px;
  width: 100%;
  /* margin-left: -3rem; */
  background-image: url(img/bg1.PNG);
  height: 40rem;
  background-size: cover;
}

.myellow__bg {
  object-fit: contain;

  width: 100%;
}

.myellow__bg-brown {
  object-fit: contain;
  width: 100%;
}

.myellow__header {

  font-family: "Nerko One", cursive;
  color: #7a4a4a;
  font-size: 3rem;
}

.mmain__top,
.mbrown__top {
  display: flex;
  justify-content: space-between !important;
  padding: 2rem 4.5rem;
  gap: 1.5rem;
}

.myellow__add {

  background-color: #7a4a4a;
  border: 4px solid #7a4a4a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .2rem;
  transition: all .15s ease-in-out;
  cursor: pointer;
  width: 3.3rem;
  height: 3.3rem
}

.myellow__add:hover {
  background-color: white;

}

.myellow__add:hover path {
  stroke: #7a4a4a;
}

.myellow__add path {
  transition: all .15s ease-in-out;
}


.myellow__add svg {
  object-fit: cover;
  width: 100%;
}

.myellow__add path {
  stroke: white
}


.myellow__card-container {
  padding: 2rem 2rem;
  overflow-x: scroll;
  width: 100%;
  position: absolute;
  top: 20%;
  white-space: nowrap;
  height: 27rem;
}

.myellow__card-container::-webkit-scrollbar-thumb {
  background-color: #7a4a4a;
  border-radius: 100vh;
}

.myellow__card-container::-webkit-scrollbar-thumb:hover {
  height: 1vw;
}

.myellow__card-container::-webkit-scrollbar {
  height: .7vw;
  border-radius: 100vh;
}

.myellow__card-container::-webkit-scrollbar-track {
  margin: 0 15rem;
  background-color: white;
  border-radius: 100vh;
  margin-block: 2rem;
}

.mbrown {
  width: 100%;
  position: relative;
  background-image: url(img/bg2.PNG);
  height: 40rem;
  background-size: cover;
}



.mbrown__bg {
  object-fit: contain;
  width: 100%;
}

.mbrown__bg-brown {
  object-fit: contain;
  width: 100%;
}

.mbrown__header {


  font-family: "Nerko One", cursive;
  color: white;
  font-size: 3rem;
}

.mbrown__add {

  background-color: white;
  border: 4px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .2rem;
  transition: all .15s ease-in-out;
  cursor: pointer;
  width: 3.3rem;
  height: 3.3rem;
}

.mbrown__add svg {
  fill: black;
  width: 100%;
  object-fit: cover;
}

.mbrown__add:hover {
  background-color: #FFEA7C;
}

.mbrown__add:hover path {
  stroke: white
}

.mbrown__add path {
  transition: all .15s ease-in-out;
}

.mbrown__card-container {
  padding: 2rem 2rem;
  overflow-x: scroll;
  width: 100%;
  position: absolute;
  top: 20%;
  white-space: nowrap;
  height: 27rem;
}

.mbrown__card-container::-webkit-scrollbar-thumb {
  background-color: #FFEA7C;
  border-radius: 100vh;
}

.mbrown__card-container::-webkit-scrollbar {
  height: .7vw;
  border-radius: 100vh;
}

.mbrown__card-container::-webkit-scrollbar-track {
  margin: 0 15rem;
  background-color: white;
  border-radius: 100vh;
  margin-block: 2rem;
}

.mcard:hover .mcard__side {
  /* transform: rotateY(180deg); */
  transform: scale(1.05)
}

.mcard {
  display: inline-block !important;
  margin: 0 2rem !important;
  perspective: 150rem !important;
  -moz-perspective: 150rem !important;
  height: 20rem !important;
  width: 20rem !important;
  position: relative !important;
  border-radius: 30px !important;
  background-color: transparent !important;
  cursor: pointer !important;
  overflow: hidden;
}

.mcard__side {
  cursor: pointer !important;
  height: 20rem !important;
  width: 100% !important;
  border-radius: 30px !important;
  background-color: transparent !important;
  transition: all .2s ease-in-out;
}

.mcard__side--front {
  background-color: transparent !important;
  border-radius: 30px !important;
  overflow: hidden !important;
  position: absolute !important;
  height: 20rem !important;
  width: 100% !important;
  top: 0 !important;
  left: 0 !important;
  transition: all .8s ease !important;
  border-radius: 70px !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  z-index: 1;
  cursor: pointer;
  display: none;
}

.mcard__side--front img {
  object-fit: cover;
  height: 21rem;
  width: 20rem;
}

.mcard__side--back {
  /* transform: rotateY(180deg); */
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  height: 20rem;
  width: 100%;
  top: 0;
  left: 0;
  transition: all .8s ease;
  background-color: white !important;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  cursor: pointer;
  /* border: 1px solid; */
  gap: .5rem
}



.mcard__side--back h6 {
  /* transform: rotateY(180deg); */
  font-family: 'Dosis';
  font-size: 1rem;
}

.mcard__side--back h4 {
  color: #7a4a4a;
  font-family: "Mogra", system-ui;
  font-size: 1.5rem;
}

.mcard__side--back h5 {
  color: white;
  background-color: #7a4a4a;
  border-radius: 50px;
  padding: 0rem .7rem;
  font-family: "Mogra", system-ui;
  font-size: 1rem;
  align-self: start;
}

.mcard__side--back div {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.mcard__side--back div h6 {
  color: #7a4a4a;
  font-family: "Mogra", system-ui;
  font-size: 1rem;
}

.mcard__side--back div img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.mcard__side:hover .mcard__side--front {
  transform: rotateY(180deg);
}

.mcard__side:hover .mcard__side--back {
  transform: rotateY(0);
}

.mform__month,
.mform__month-brown {

  width: 10rem;
  font-size: 1.15rem;
  font-family: "Mogra", system-ui;
  justify-content: center;
  background-color: white;
  border-radius: 0.25rem;
  margin-left: auto;
  height: min-content;
}

.mform__month--button,
.mform__month--button-brown {
  color: #7a4a4a;
  width: 100%;
  font-size: 1.15rem;
  background-color: transparent;
  padding: 0.675em 1em;
  border: 1px solid #7a4a4a;
  box-shadow: 0 0.05rem 0.2rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mform__month--selected-value,
.mform__month--selected-value-brown {
  color: #7a4a4a;
  display: flex;
  justify-self: center;
  text-align: center;
  font-family: "Mogra", system-ui;
}

.mform__month--arrow,
.mform__month--arrow-brown {
  scale: .5;
  transition: transform ease-in-out 0.3s;
}

.mform__month--dropdown,
.mform__month--dropdown-brown {
  color: #7a4a4a;
  list-style: none;
  position: absolute;
  list-style: none;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border: 1px solid #7a4a4a;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
  transition: 0.5s ease;
  z-index: 1000;
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  visibility: hidden;
}

.mform__month--dropdown li,
.mform__month--dropdown-brown li {
  position: relative;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.mform__month--dropdown li span,
.mform__month--dropdown-brown li span {
  width: 100%;
  padding: 8px 10px;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.mform__month--dropdown::-webkit-scrollbar,
.mform__month--dropdown-brown::-webkit-scrollbar {
  width: 7px;
}

.mform__month--dropdown::-webkit-scrollbar-track,
.mform__month--dropdown-brown::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

.mform__month--dropdown::-webkit-scrollbar-thumb,
.mform__month--dropdown-brown::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}

.mform__month--dropdown li:hover,
.mform__month--dropdown input:checked~label,
.mform__month--dropdown-brown li:hover,
.mform__month--dropdown-brown input:checked~label {
  background-color: #f2f2f2;
}

.mform__month--dropdown input:focus~label,
.mform__month--dropdown-brown input:focus~label {
  background-color: #dfdfdf;
}

.mform__month--dropdown input[type="radio"],
.mform__month--dropdown-brown input[type="radio"] {
  position: absolute;
  left: 0;
  opacity: 0;
}

/* interactivity */
.mform__month.active .mform__month--arrow,
.mform__month-brown.active .mform__month--arrow-brown {
  transform: rotate(180deg);
}

.mform__month.active .mform__month--dropdown,
.mform__month-brown.active .mform__month--dropdown-brown {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
  transform-origin: top;
}

/*=============
  Aesthetics 
  =========================*/
.mfooter {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: 20rem 1fr;
  color: #7a4a4a;
  font-family: "Mogra", system-ui;
  justify-content: space-between;
  column-gap: 3rem;
}

.mfooter__img-container {
  display: grid;
  grid-template-rows: repeat(2, minmax(min-content, 15rem));
}

.mfooter__brand {
  font-family: "Mochiy Pop One", sans-serif;
  justify-self: center;
  font-size: 3rem;
  text-align: center;
  grid-row: 2/3;
}

.mfooter__logo {
  height: 20rem;
  width: 20rem;
  margin-bottom: -5rem;
  grid-row: 1/2;
}

.mfooter__text-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(10rem, 1fr));
  grid-template-rows: repeat(7, min-content);
  height: 5rem;
  align-self: start;
  row-gap: 1rem;
  margin-top: 4rem;
}

.mfooter__h3-author {
  grid-column: 1/2;
  grid-row: 1/2;
}

.mfooter__h4-author-1 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.mfooter__h4-author-2 {
  grid-column: 1/2;
  grid-row: 3/4;
}

.mfooter__h4-author-3 {
  grid-column: 1/2;
  grid-row: 4/5;
}

.mfooter__h4-author-4 {
  grid-column: 1/2;
  grid-row: 5/6;
}

.mfooter__h3-about {
  grid-column: 2/3;
  grid-row: 1/2;
}

.mfooter__h4-about-1 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.mfooter__h4-about-2 {
  grid-column: 2/3;
  grid-row: 3/4;
}

.mfooter__h3-term-of-use {
  grid-column: 3/4;
  grid-row: 1/2;
}

.mfooter__h4-term-of-use {
  grid-column: 3/4;
  grid-row: 2/3;
}

.mfooter__h3-ackowledge {
  grid-column: 1/2;
  grid-row: 6/7;
}

.mfooter__4-acknowledge {
  grid-column: 1/2;
  grid-row: 5/6;
}

.mfooter__text-container-1 {
  display: grid;
  grid-column: 2/3;
  row-gap: 1rem;
  transform: translateY(-4.7rem);
}