* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navigation {
  width: 98vw;
  display: flex;
  padding: 1rem 1rem;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}

.navigation__logo {
  margin-left: -3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navigation__logo-img {
  scale: .7;
  margin-top: -10px;
  cursor: pointer;
}

.navigation__brand {
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #7a4a4a;
  text-transform: uppercase;
  font-size: 2rem;
  margin-right: 2rem;
  margin-left: -2.3rem;
}

.navigation__dropdown {
  position: relative;
}

.navigation__dropdown button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navigation__dropdown button span {
  font-family: "Mogra", system-ui;
  color: #7a4a4a;
  font-size: 1rem;
}

.navigation__dropdown-list {
  font-family: "Mogra", system-ui;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  position: absolute;
  height: 20rem;
  background-color: white;
  border-radius: 20px;
  width: 20rem;
  z-index: 100000;
  transform: scaleY(0);
  transform-origin: top;
  display: flex;
  flex-direction: column;
  top: 3rem;
}

.navigation__dropdown-button-container {
  margin-bottom: auto;
  padding: 0 1rem;
  display: flex;
  font-family: "Mogra", system-ui;
  gap: 1.5rem;
}

.navigation__dropdown-button {
  font-family: "Mogra", system-ui;
  font-size: 1rem;
}

.navigation__dropdown-button-1 {
  color: white;
  background-color: #7a4a4a !important;
  padding: .5rem .5rem;
  border-radius: 50px;
}

.navigation__dropdown-button-2 {
  color: #7a4a4a;
}

.navigation__dropdown-item-container {
  background-color: white;
  height: 15rem;
  overflow-y: scroll;
}

.navigation__dropdown-item-container::-webkit-scrollbar-thumb {
  background-color: #7a4a4a;
  border-radius: 100vh;
}

.navigation__dropdown-item-container::-webkit-scrollbar {
  width: .7vw;
  border-radius: 100vh;
}

.navigation__dropdown-item-container::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 100vh;
}

.navigation__dropdown-item {
  text-decoration: none;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  gap: 1rem;
  transition: all .2s ease-in-out;
}

.navigation__dropdown-item h6 {
  font-size: 1rem;
  color: #7a4a4a;
}

.navigation__dropdown-item img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  justify-self: start;
}

.navigation__dropdown-item:hover {
  background-color: #d6d6d6;
}

.navigation__dropdown-all {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-self: end;
  align-self: flex-start;
  background-color: #7a4a4a;
  width: 100%;
  height: 3rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  text-decoration: none;
}

.navigation__link {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.navigation__link-btn {
  margin-left: 2rem;
  padding: .5rem 1rem;
  height: 100%;
}

.navigation__link-btn.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__link-btn-a:link,
.navigation__link-btn-a:visited {
  text-decoration: none;
  color: #7a4a4a;
  font-family: "Mogra", system-ui;
  font-weight: 400;
  font-style: normal;
  transition: all .2s;
}

.navigation__link-btn-a.sign-up {
  color: white;
  background-color: #7a4a4a;
  border-radius: 100px;
  display: flex;
  width: 100%;
  height: 100%;
  padding: .5rem 1rem;
  border: solid 1px transparent;
}

.navigation__link-btn-a:hover,
.navigation__link-btn-a:active {
  border-bottom: solid 1px #7a4a4a;
}

.navigation__link-btn-a.sign-up:hover,
.navigation__link-btn-a.sign-up.active {
  color: #7a4a4a;
  background-color: white;
  border: solid 1px #7a4a4a;
}

.navigation__search-box {
  border: solid 1.5px #7a4a4a;
  padding: .5rem 1rem;
  border-radius: 10rem;
  display: flex;
  height: 2.4rem;
  width: 30%;
}

.navigation__search-box-bar,
.navigation__search-box-bar:focus {
  caret-color: #7a4a4a;
  border: none;
  outline-width: 0;
  font-size: 1rem;
  color: #7a4a4a;
  font-family: "Mogra", system-ui;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  width: 90%;
}

.navigation__search-box-bar::-webkit-input-placeholder {
  color: #e3c5c5;
}

.navigation__search-box-icon {
  scale: 1.2;
  fill: #7a4a4a;
  margin-right: .5rem;
  width: 10%;
}

.navigation__avatar {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.main {
  width: 100%;
  margin-top: 3rem;
  background-color: white !important;
  padding: 0 0 !important;
  /* height: 350vh; */
}

.yellow {
  margin-bottom: -10px;
  width: 100%;
  /* margin-left: -3rem; */
  position: relative;
}

.yellow__bg {
  object-fit: contain;

  width: 100%;
}

.yellow__bg-brown {
  object-fit: contain;
  width: 100%;
}

.yellow__header {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Nerko One", cursive;
  color: #7a4a4a;
  font-size: 3rem;
}

.yellow__add {
  position: absolute;
  top: 20%;
  left: 20%;
  background-color: white;
  border: 1px solid #7a4a4a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.yellow__add svg {
  fill: black;
  width: 1.5rem;
  height: 1.5rem;
}

.yellow__add:hover {
  background-color: #d4d4d4;
}

.yellow__card-container {
  padding: 2rem 2rem;
  overflow-x: scroll;
  width: 100%;
  position: absolute;
  top: 35%;
  white-space: nowrap;
  height: 27rem;
}

.yellow__card-container::-webkit-scrollbar-thumb {
  background-color: #7a4a4a;
  border-radius: 100vh;
}

.yellow__card-container::-webkit-scrollbar {
  height: .7vw;
  border-radius: 100vh;
}

.yellow__card-container::-webkit-scrollbar-track {
  margin: 0 15rem;
  background-color: white;
  border-radius: 100vh;
  margin-block: 2rem;
}

.brown {
  width: 100%;
  position: relative;
}

.brown__bg {
  object-fit: contain;
  width: 100%;
}

.brown__bg-brown {
  object-fit: contain;
  width: 100%;
}

.brown__header {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Nerko One", cursive;
  color: white;
  font-size: 3rem;
}

.brown__add {
  position: absolute;
  top: 20%;
  left: 20%;
  background-color: white;
  border: 1px solid #7a4a4a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.brown__add svg {
  fill: black;
  width: 1.5rem;
  height: 1.5rem;
}

.brown__add:hover {
  background-color: #d4d4d4;
}

.brown__card-container {
  padding: 2rem 2rem;
  overflow-x: scroll;
  width: 100%;
  position: absolute;
  top: 35%;
  white-space: nowrap;
  height: 27rem;
}

.brown__card-container::-webkit-scrollbar-thumb {
  background-color: #FFEA7C;
  border-radius: 100vh;
}

.brown__card-container::-webkit-scrollbar {
  height: .7vw;
  border-radius: 100vh;
}

.brown__card-container::-webkit-scrollbar-track {
  margin: 0 15rem;
  background-color: white;
  border-radius: 100vh;
  margin-block: 2rem;
}

.card {
  display: inline-block;
  margin: 0 2rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 20rem;
  width: 20rem;
  position: relative;
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
}

.card__side {
  cursor: pointer;
  height: 20rem;
  width: 100%;
  border-radius: 100px;
  background-color: transparent;
}

.card__side--front {
  background-color: transparent;
  border-radius: 30px;
  overflow: hidden;
  position: absolute;
  height: 20rem;
  width: 100%;
  top: 0;
  left: 0;
  transition: all .8s ease;
  border-radius: 70px;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  z-index: 1;
  cursor: pointer;
}

.card__side--front img {
  object-fit: cover;
  height: 21rem;
  width: 20rem;
}

.card__side--back {
  transform: rotateY(180deg);
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  height: 20rem;
  width: 100%;
  top: 0;
  left: 0;
  transition: all .8s ease;
  background-color: white;
  border-radius: 70px;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  cursor: pointer;
}

.card__side--back h4 {
  color: #7a4a4a;
  font-family: "Mogra", system-ui;
  font-size: 1.5rem;
}

.card__side--back h5 {
  color: white;
  background-color: #7a4a4a;
  border-radius: 50px;
  padding: 0rem .7rem;
  font-family: "Mogra", system-ui;
  font-size: 1rem;
  align-self: start;
}

.card__side--back div {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card__side--back div h6 {
  color: #7a4a4a;
  font-family: "Mogra", system-ui;
  font-size: 1rem;
}

.card__side--back div img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.card__side:hover .card__side--front {
  transform: rotateY(180deg);
}

.card__side:hover .card__side--back {
  transform: rotateY(0);
}

.form__month,
.form__month-brown {
  position: absolute;
  top: 20.5%;
  left: 5%;
  width: 10rem;
  font-size: 1.15rem;
  font-family: "Mogra", system-ui;
  justify-content: center;
  background-color: white;
  border-radius: 0.25rem;
}

.form__month--button,
.form__month--button-brown {
  color: #7a4a4a;
  width: 100%;
  font-size: 1.15rem;
  background-color: transparent;
  padding: 0.675em 1em;
  border: 1px solid #7a4a4a;
  box-shadow: 0 0.05rem 0.2rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__month--selected-value,
.form__month--selected-value-brown {
  color: #7a4a4a;
  display: flex;
  justify-self: center;
  text-align: center;
  font-family: "Mogra", system-ui;
}

.form__month--arrow,
.form__month--arrow-brown {
  scale: .5;
  transition: transform ease-in-out 0.3s;
}

.form__month--dropdown,
.form__month--dropdown-brown {
  color: #7a4a4a;
  list-style: none;
  position: absolute;
  list-style: none;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border: 1px solid #7a4a4a;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
  transition: 0.5s ease;
  z-index: 1000;
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  visibility: hidden;
}

.form__month--dropdown li,
.form__month--dropdown-brown li {
  position: relative;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.form__month--dropdown li span,
.form__month--dropdown-brown li span {
  width: 100%;
  padding: 8px 10px;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.form__month--dropdown::-webkit-scrollbar,
.form__month--dropdown-brown::-webkit-scrollbar {
  width: 7px;
}

.form__month--dropdown::-webkit-scrollbar-track,
.form__month--dropdown-brown::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

.form__month--dropdown::-webkit-scrollbar-thumb,
.form__month--dropdown-brown::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}

.form__month--dropdown li:hover,
.form__month--dropdown input:checked~label,
.form__month--dropdown-brown li:hover,
.form__month--dropdown-brown input:checked~label {
  background-color: #f2f2f2;
}

.form__month--dropdown input:focus~label,
.form__month--dropdown-brown input:focus~label {
  background-color: #dfdfdf;
}

.form__month--dropdown input[type="radio"],
.form__month--dropdown-brown input[type="radio"] {
  position: absolute;
  left: 0;
  opacity: 0;
}

/* interactivity */
.form__month.active .form__month--arrow,
.form__month-brown.active .form__month--arrow-brown {
  transform: rotate(180deg);
}

.form__month.active .form__month--dropdown,
.form__month-brown.active .form__month--dropdown-brown {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
  transform-origin: top;
}

/*=============
  Aesthetics 
  =========================*/
.footer {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: 20rem 1fr;
  color: #7a4a4a;
  font-family: "Mogra", system-ui;
  justify-content: space-between;
  column-gap: 3rem;
}

.footer__img-container {
  display: grid;
  grid-template-rows: repeat(2, minmax(min-content, 15rem));
}

.footer__brand {
  font-family: "Mochiy Pop One", sans-serif;
  justify-self: center;
  font-size: 3rem;
  text-align: center;
  grid-row: 2/3;
}

.footer__logo {
  height: 20rem;
  width: 20rem;
  margin-bottom: -5rem;
  grid-row: 1/2;
}

.footer__text-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(10rem, 1fr));
  grid-template-rows: repeat(7, min-content);
  height: 5rem;
  align-self: start;
  row-gap: 1rem;
  margin-top: 4rem;
}

.footer__h3-author {
  grid-column: 1/2;
  grid-row: 1/2;
}

.footer__h4-author-1 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.footer__h4-author-2 {
  grid-column: 1/2;
  grid-row: 3/4;
}

.footer__h4-author-3 {
  grid-column: 1/2;
  grid-row: 4/5;
}

.footer__h4-author-4 {
  grid-column: 1/2;
  grid-row: 5/6;
}

.footer__h3-about {
  grid-column: 2/3;
  grid-row: 1/2;
}

.footer__h4-about-1 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.footer__h4-about-2 {
  grid-column: 2/3;
  grid-row: 3/4;
}

.footer__h3-term-of-use {
  grid-column: 3/4;
  grid-row: 1/2;
}

.footer__h4-term-of-use {
  grid-column: 3/4;
  grid-row: 2/3;
}

.footer__h3-ackowledge {
  grid-column: 1/2;
  grid-row: 6/7;
}

.footer__4-acknowledge {
  grid-column: 1/2;
  grid-row: 5/6;
}

.footer__text-container-1 {
  display: grid;
  grid-column: 2/3;
  row-gap: 1rem;
  transform: translateY(-4.7rem);
}